PDF generation date 
<%= Date.today %>

<h3>Medicine Details</h3>
<p>Medicine ID:  <%= @medicine.id %></p>
<p>Medicine Name:  <%= @medicine.name %></p>
<p>Description:  <%= @medicine.description %></p>
<p>Quantity:  <%= @medicine.quantity %></p>
<p>Price:  <%= @medicine.price %></p>
<p>Manufacturing Date:  <%= @medicine.manfucturing_date %></p>
<p>Expiry Date:  <%= @medicine.expiry_date %></p>
