<!--
<div class="form-group">
  <div class="container-fluid text-center">
    <div class="row justify-content-center">
      <div class="col-4">
      <h2>Edit Doctor Appointment Dates</h2>
        <div class="card">
          <div class="card-body">
            <%= simple_form_for(@appointment_date) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs">
                <div class="mb-3">
                  <legend>Doctors:</legend>
                  <%= f.association :doctor, 
                    label_method: lambda { |doctor| "#{doctor.name}"},
                    :label => "Select Docotrs:",
                    as: :select, 
                    input_html: { class: "value-selector" },
                    item_wrapper_class: 'value-item select-2'
                  %>
                </div>
                
                <div class="mt-3">
                  <%= f.input :start_time %>
                </div>

                <div class="mt-3 mb-3">
                  <%= f.input :end_time %>
                </div>  
              </div>

              <div class="form-actions">
                <%= f.button :submit, class:"btn btn-primary" %>
              </div>

              <div class="mt-3">
                <%= link_to "Back", appointment_dates_path, class:"btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>        

<script>
  
  $(document).ready(function() {
    $('.value-selector').select2();
  });

</script>
-->
<%= render "form", appointment_date: @appointment_date %>