<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2>Welcome to RoofTopClinic</h2>
      <div class="card">
        <div class="card-body text-center">
          <% if current_user.avatar.present? %>
            <%= image_tag(current_user.avatar, width: 100, height: 100) %>
          <% else %>
            <h5>No Image</h5>
          <% end %>
          <h6><b>First Name:   <%= current_user.name %></b></h6>
          <button id="hide" class="btn btn-secondary">Hide</button>
            <div class="block">
              <p><b>Last Name:   <%= current_user.lname %></b></p>
              <p><b>Email:   <%= current_user.email %></b></p>
            </div>  
          <br />  
          <%= link_to "Edit", edit_user_registration_path, class: "btn btn-dark" %>
        </div>             
      </div>
    </div>
  </div>
</div>

<script>
// $(document).ready(function(){
//    $("#hide").click(function(){
//     $("p").hide(1000);
//   });
//   $("#show").click(function(){
//     $("p").show(1000);
//   });
// });

$(document).ready(function(){
  $("#hide").click(function(){
     $("p").fadeToggle(500);
  });
});

//  $(document).ready(function() {
//         $(".block").slice(0, 1).show();
//         if ($(".block:hidden").length != 0) {
//             $("#hide").show();
//         }
//         $("#hide").on("click", function(e) {
//             e.preventDefault();
//             $(".block:hidden").slice(0, 1).slideDown();
//             if ($(".block:hidden").length == 0) {
//                 $("#hide").text("No More to view").fadOut("slow");
//             }
//         });
//     }) 

</script>

   