        <!-- Disease Form-->
<div class="form-group">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h2> Disease Details </h2>

            <%= simple_form_for(@disease) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            
              <div class="mb-3">
                <%= f.label :name, { class: "form-label" } %>
                <%= f.text_field :name, { class: "form-control", placeholder: "Disease Name" } %>
              </div>

              <div class="mb-3">
                <%= f.label :code, { class: "form-label" } %>
                <%= f.text_field :code, { class: "form-control", placeholder: "Disease Code" } %>
              </div>

              <div class="mb-3">
                <%= f.label :status, { class: "form-label" } %>
                <%= f.select :status, options_for_select(Disease.statuses.keys), { class: "status-disease" } %>
              </div>

              
                <div class="mb-3">
                  <%= f.association :medicines,
                    label_method: lambda { |medicines| "#{medicines.name} - #{medicines.description}"},
                    :label => "Select Medicines:",
                    as: :select, 
                    input_html: { class: "value-selector" },
                    item_wrapper_class: 'value-item select-2'
                  %>
                </div>
              
                <div class="form-actions">
                  <%= f.button :submit, class:"btn btn-primary" %>
                </div>
              
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>              


