<div class="container mt-5 text-center">
  <div class="col-5">
    <h2>Appointment</h2>
    <%= simple_form_for(@patient_appointment, remote: true) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div id="container">   
        <div class="mb-3">
           <%= f.association :user, :collection => User.where(role: "doctor").map{ |doctor| [doctor.name, doctor.id]},
            :label => "Select Docotrs:",
            as: :select, 
            input_html: { class: "value-selector date-select select-doctor" }, 
            item_wrapper_class: 'value-item'
          %>
        </div>
          <%= month_calendar(events: @appointment_dates) do |date, appointment_dates| %>
            <%= content_tag :div, class: "calendar-day", data: {date: date} do %>
              <%= date.day %>
              <% appointment_dates.each do |appointment_date| %>
                <div class="single_event">
                  <%#= link_to appointment_date.doctor.name, appointment_date %>
                </div>
              <% end %>
            <% end %>       
          <% end %>  
        </div>
        <div class="form-actions mt-3">
          <%= f.button :submit, onclick:"send_ajax()", class:"btn btn-primary" %>
        <% end %>
      </div>
  </div>
</div>

<script>
 var user;
 var date;

  $( function() {
    $('.date-select').on('change', function (e){
      user = e.target.value
   
      get_ajax(user)
    })
  });
  
  $('.calendar-day').on("click", function(e) {
      // date = this.innerText
      date =  e.target.getAttribute('data-date');
  });

  function send_ajax(){
    response = $.ajax({
        url: '/patient_appointments',
        method: 'Post',
        data: {date, user}
    });
  }
  
  function get_ajax(user){
    response = $.ajax({
        url: '/patient_appointments/new',
        method: 'Get',
        format: 'js',
        data: {user}
    });
  }

  $(document).ready(function() {
    $('.value-selector').select2({
      placeholder: ""
    });
  });

  $('.has-events').click(function(){
    $('.table-test').find('.active').removeClass('active');
    $(this).addClass('active');
  });

</script>